<a href="https://colab.research.google.com/github/giovannaaleixo/python_curso_guanabara/blob/main/Aula13_Repeticao_FOR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Aula 13 - Estruturas de Repetição**

Vamos começar nossos estudos com os **laços** e vamos fazer primeiro o “for”, que é uma estrutura versátil e simples de entender.

In [ ]:
for c in range(1,10):

In [ ]:
n = int(input('Digite um numero: '))
for c in range(0, n+1):
  print(c)
print('Fim')

In [ ]:
i = int(input('Inicio: '))
f = int(input('Fim: '))
p = int(input('Passo: '))
for x in range(i,f+1,p):
  print(x)
print('Fim')

In [ ]:
s = 0
for c in range(0,4):
  num = int(input('Digite um numero: '))
  s += num # s = s + num
print('O somatório dos numeros é: {}'.format(s))

46) Faça um programa que mostre na tela uma contagem regressiva para o estouro de fogos de artificio, indo de 10 até 0, com uma pausa de 1 s entre elas.

In [ ]:
from time import sleep
for reg in range(10,-1,-1):
  print(reg)
  sleep(1)
print('FIM!!')

47) Crie um programa que mostre na tela todos os numeros pares que estão no intervalo entre 1 e 50.

In [ ]:
for i in range(1,51):
#for i in range(2,51,2):
  if i % 2 == 0:
    print(i)
print('fim')

48) Faça um programa que calcule a soma entre todos os numeros impares que são multiplos de três e se encontram no intervalo de 1 até 500.

In [ ]:
soma = 0
for ii in range(1,501,2):
  if ii % 3 == 0:
    soma += ii
    #print(ii)
print('A soma dos numeros são: {}'.format(soma))

**49)** Refaça o desafio 09, mostrando a tabuada de um numero que o usuário escolher, só que agora utilizando um laço for.

In [ ]:
t = int(input('Digite um numero para ver sua tabuada: '))
for tab in range(1,11):
  print('{} x {} = {}'.format(t,tab,(t*tab)))

50) Desenvolva um programa que leia seis numeros inteiros e mostre a soma apenas daqueles que forem pares. Se o valor digitado por impar desconsidere-o.

In [ ]:
adicao = 0
for par in range(1,7):
  a = int(input('Digite o {} numero: '.format(par)))
  if a % 2 == 0:
    adicao += a
print('A soma dos numeros pares é: {}'.format(adicao))

Digite o 1 numero: 1
Digite o 2 numero: 3
Digite o 3 numero: 5
Digite o 4 numero: 7
Digite o 5 numero: 2
Digite o 6 numero: 1
A soma dos numeros pares é: 2

**51)** Desenvolva um programa que leia o primeiro termo e a razão de uma PA. No final mostre os 10 primeiros termos dessa progressão.

In [ ]:
termo1 = int(input('Digite o primeiro termo: '))
razao = int(input('Razão: '))
decimo = termo1 + (10-1) * razao
for pa in range(termo1,decimo + razao,razao):
  print('{}'.format(pa),end = ' --> ')
print('ACABOU')

Digite o primeiro termo: 25
Razão: 5
25 --> 30 --> 35 --> 40 --> 45 --> 50 --> 55 --> 60 --> 65 --> 70 --> ACABOU

52) Faça um programa que leia um numero inteiro e diga se ele é ou não um numero primo.

In [ ]:
tot = 0
num2 = int(input('Digite um numero: '))
for primo in range(1, num2 + 1):
  if num2 % primo == 0:
    tot += 1
print('O numero {} foi divisível por {} vezes'.format(primo, tot))
if tot == 2:
  print('O numero {} é Primo'.format(num2))
else:
  print('O numero {} Não é primo'.format(num2))

Digite um numero: 8
O numero 8 foi divisível por 4 vezes
O numero 8 Não é primo

**53)** Crie um programa que leia uma frase qualquer e diga se ela pe um palindromo, desconsiderando os espaços.
Ex: apos a sopa

In [ ]:
frase = str(input('Digite uma frase: ')).strip().upper()
palavras1 = frase.split()
junto = ''.join(palavras1)
inverso = ''
for letra in range(len(junto)-1,-1,-1):
  inverso += junto[letra]
print('O inverso de {} é {}'.format(junto,inverso))
if inverso == junto:
  print('Temos um palíndromo')
else:
  print('A frase não é palíndromo')

Digite uma frase: giovanna
O inverso de GIOVANNA é ANNAVOIG
A frase não é palíndromo

In [ ]:
#O mesmo exercício acima, mas sem utilizar FOR e sim slice 'fatiamento'
frase2 = str(input('Digite uma frase: ')).strip().upper()
palavras2 = frase2.split()
junto2 = ''.join(palavras2)
inverso2 = junto2[::-1]
print('O inverso de {} é {}'.format(junto2,inverso2))
if inverso2 == junto2:
  print('Temos um palíndromo')
else:
  print('A frase não é palíndromo')

Digite uma frase: ana
O inverso de ANA é ANA
Temos um palíndromo

**54)** Crie um programa que leia o ano de nascimento de 7 pessoas. No final mostre quantas pessoas ainda não atingiram a maior idade e quantas já são maiores.

In [ ]:
from datetime import date
ano_hoje = date.today().year
menor = 0
maior = 0
for age in range(1,8):
  ano = int(input('Em que ano a {} pessoa nasceu: '.format(age)))
  nascimento = ano_hoje - ano
  if nascimento <= 21:
    menor +=1
  elif nascimento >= 21:
    maior +=1
print('Quantidade de menores de idade: {}'.format(menor))
print('Quantidade de maiores de idade: {}'.format(maior))

Em que ano a 1 pessoa nasceu: 2000
Em que ano a 2 pessoa nasceu: 1970
Em que ano a 3 pessoa nasceu: 2005
Em que ano a 4 pessoa nasceu: 1990
Em que ano a 5 pessoa nasceu: 2010
Em que ano a 6 pessoa nasceu: 1960
Em que ano a 7 pessoa nasceu: 1940
Quantidade de menores de idade: 2
Quantidade de maiores de idade: 5

**55)** Faça um programa que leia o peso de 5 pessoas. No final, mostre qual foi o maior e o menor peso lidos.

In [ ]:
maior_peso = 0
menor_peso = 0
for p in range(1,6):
  peso = float(input('Digite o peso da {} em Kg: '.format(p)))
  if p == 1:
    maior_peso = peso
    menor_peso = peso
  else:
    if peso > maior_peso:
      maior_peso = peso
    if peso < menor_peso:
      menor_peso = peso
print('O maior peso foi {}Kg'.format(maior_peso))
print('O menor peso foi {}Kg'.format(menor_peso))

Digite o peso da 1 em Kg: 78
Digite o peso da 2 em Kg: 41
Digite o peso da 3 em Kg: 98
Digite o peso da 4 em Kg: 56
Digite o peso da 5 em Kg: 73.4
O maior peso foi 98.0Kg
O menor peso foi 41.0Kg

**56)** Desenvolva um programa que leia o nome, idade e sexo de 4 pessoas. No final do programa mostre:
* A média da idade do grupo
* qual é o nome do homem mais velho
* quantas mulheres têm menos de 20 anos.

In [ ]:
s_idade = 0
avg_idade = 0
maior_idadehomem = 0
nome_velho = ''
mulher20 = 0
for x1 in range(1,5):
  print('---- {} Pessoa -----'.format(x1))
  nome2 = str(input('Digite seu nome: ')).strip()
  idade2 = int(input('Digite sua idade: '))
  genero = str(input('Sexo: Digite [F/M]: ')).strip().lower()
  if x1 == 1 and genero == 'Mm':
    maior_idadehomem = idade2
    nome_velho = nome2
  if genero in 'Mm' and idade2 > maior_idadehomem:
    maior_idadehomem = idade2
    nome_velho = nome2
  if genero in 'Ff' and idade2 < 20:
    mulher20 += 1

  s_idade += idade2
  avg_idade = (s_idade/4)
print('A media de idade do grupo é: {}'.format(avg_idade))
print('O homem mais velho tem {} anos e se chama {}'.format(maior_idadehomem,nome_velho))
print('Ao todo são {} mulheres abaixo de 20 anos.'.format(mulher20))

---- 1 Pessoa -----
Digite seu nome: Jéssica
Digite sua idade: 23
Sexo: Digite [F/M]: f
---- 2 Pessoa -----
Digite seu nome: João
Digite sua idade: 12
Sexo: Digite [F/M]: m
---- 3 Pessoa -----
Digite seu nome: Cláudio
Digite sua idade: 75
Sexo: Digite [F/M]: m
---- 4 Pessoa -----
Digite seu nome: Maria
Digite sua idade: 15
Sexo: Digite [F/M]: f
A media de idade do grupo é: 31.25
O homem mais velho tem 75 anos e se chama Cláudio
Ao todo são 1 mulheres abaixo de 20 anos.